.sec-header {
    width: 100%;
    background-color: blue;
    height: 400px;
}

.sec-div1 {
    width: 100%;
    height: 50px;
    background-color: purple;
    display: block;
}

.sec-div2 {
    width: 100%;
    height: 125px;
    background-color: red;
    display: block;
}