* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

body {
    overflow: hidden;
    /* background-image: linear-gradient(to left, #dad4ec 5%, #dad4ec 100%, #f3e7e9 100%); */
    /* background-image: linear-gradient(110.6deg, rgb(184, 161, 222) 2.2%, rgb(129, 140, 223) 100.2%); */
}

.main-container {
    width: 100%;
    min-height: 100vh;
    /* background-color: #ffffff81; */
    /* background-image: linear-gradient(to left #dad4ec #715dac #f3e7e9); */
    /* background-image: linear-gradient(110.6deg, rgb(184, 161, 222) 2.2%, rgb(129, 140, 223) 100.2%); */
    background-image: linear-gradient(to left, #cd9cf2 0%, #f6f3ff 100%);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 70px;
    z-index: 10;
    /* background-color: blueviolet; */
}

.logo {
    display: flex;
    font-size: 15px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

/* STARTS OF GRADIENT BACKGROIUND CODE*/
/* might have to put this property on the main container but we'll see */
.circles {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

@keyframes animateC {
    0% {
        opacity: 1;
        border-radius: 0;
        transform: translateY(0) rotate(0deg);
    }
      100% {
        opacity: 0;
        border-radius: 50%;
        transform: translateY(-500px) rotate(720deg);
      }
    }

.circles div {
    position: absolute;
    display: block;
    /* list-style: none; */
    width: 20px;
    height: 20px;
    background: rgba(221, 201, 234, 0.742);
    bottom: -150px;
    animation: animateC 25s linear infinite;
    z-index: 10;
}

#circ-anim-1 {
left: 25%;
width: 80px;
height: 80px;
animation-delay: 0s;
/* background-color: rgba(162, 90, 210, 0.491); */
/* animation: animatec 12s linear infinite; */
}

#circ-anim-2 {
left: 10%;
width: 20px;
height: 20px;
animation-delay: 2s;
animation-duration: 12s;
/* background: rgba(174, 148, 192, 0.372); */
}

#circ-anim-3 {
    left: 75%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    /* background: rgba(72, 36, 97, 0.87); */
}

#circ-anim-4 {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 18s;
    /* background: rgba(72, 36, 97, 0.799); */
}

#circ-anim-5 {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    /* background: rgba(72, 36, 97, 0.733); */
}

#circ-anim-6 {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

#circ-anim-7 {
    left: 35%;
    width: 90px;
    height: 90px;
    animation-delay: 7s;
}

#circ-anim-8 {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

#circ-anim-9 {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

  

#cird-anim-10 {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#circ-anim-11 {
    left: 55%;
    width: 45px;
    height: 45px;
    animation-delay: 4s;
    animation-duration: 15s;
}

#circ-anim-12 {
    left: 30%;
    width: 70px;
    height: 70px;
    animation-duration: 12s;
    animation-delay: 0s;
}

#circ-anim-13 {
    left: 70%;
    width: 10px;
    height: 10px;
    animation-duration: 14s;
    animation-delay: 0s;
}

#circ-anim-14 {
    left: 20%;
    width: 25px;
    height: 25px;
    animation-duration: 7s;
    animation-delay: 4s;
}

#circ-anim-15 {
    left: 85%;
    width: 50px;
    height: 50px;
    animation-duration: 12s;
    animation-delay: 0s;
}

#circ-anim-16 {
    left: 65%;
    width: 30px;
    height: 30px;
    animation-duration: 45s;
    animation-delay: 0s;
}

/* END OF GRADIENT BACKGROUND CODE */

b {
    font-size: 41px;
    color: violet;
    position: relative;
    bottom: 10%;
}

.ul-nav-items {
    display: flex;
}

.ul-nav-items li {
    list-style: none;
    margin: 0 16px;
}

.ul-nav-items li a {
    font-size: 16px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.ul-nav-items li:hover a {

}

.nav-li {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-family: 'Kablammo', cursive;
}

.nav-li:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 27px;
    transition: width 0.3s;
    color: #ffffff ;
    z-index: 100;
}

.nav-li:hover a{
   color: #ffffff;
}

.nav-li:hover:after {
    width: 100%;
}

.nav-li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.links {
    font-size: 30px;
    color: #3d535f;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.instagram {
    height: 20px;
}
.twitter {
    height: 20px;
}
.linkedin {
    height: 20px;
}
.facebook {
    height: 20px;
}

.image-container {
    position: relative;
    animation: bounce 2s infinite;
  }
  
  .image-container:nth-child(2) {
    animation-delay: 0.5s; 
  }
  
  .image-container:nth-child(3) {
    animation-delay: 1s; 
  }
  
  .image-container:nth-child(4) {
    animation-delay: 1.5s; 
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px); 
    }
  }

  .image-container:hover img {
    transform: scale(1.5); 
    margin-right: 2px;
    margin-left: 2px;
  }

  .wrapper {
    display: flex;
    width: 100%;
    /* height: calc(100vh - 80px); */
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
  }
  
.wrapper::before {
    position: absolute;
    content: "";
    height: 450px;
    width: 450px;
    border-radius: 50%;
    left: -5%;
    top: 50%;
    /* background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%); */
    /* background: radial-gradient(circle at 12.8% 28%, rgb(206, 155, 243) 0%, rgb(142, 229, 247) 90%); */
    /* background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212)); */
    background: linear-gradient(109.6deg, rgba(218, 185, 252, 0.612) 11.2%, rgba(124, 89, 252, 0.589) 91.1%);
   
}

.wrapper::after {
    position: absolute;
    content: "";
    height: 220px;
    width: 220px;
    border-radius: 50%;
    left: 50%;
    top: 10%;
    /* background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%); */
    /* background: radial-gradient(circle at 12.8% 28%, rgb(206, 155, 243) 0%, rgb(142, 229, 247) 90%); */
    /* background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212)); */
    background: linear-gradient(109.6deg, rgba(218, 185, 252, 0.612) 11.2%, rgba(124, 89, 252, 0.589) 91.1%);
    /* background: linear-gradient(45deg, rgba(218, 185, 252, 0.612) 0%, rgba(124, 89, 252, 0.589) 100%); */
}

  .cols {
    width: 50%;
  }

  .cols0 {
    width: 60%;
    z-index: 1;
  }

  .topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
  }

  .topline::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    bottom: 10px;
    background-color: #7f00ff;
  }

  h1 {
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: #3d535f;
    /* margin-right: 3px; */
  }

  /* .cols h1 > span {
    margin-left: 4px;
  } */

  .multiTxt {
    color: #7f00ff;
    text-transform: capitalize;
    margin-left: 10px;
  }

  p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
  }

  .btns {
    width: 100%;
    position: relative;
    /* left: 150px; */
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
  }

  button:hover {
    background-color: #7f00ff;
  }

  /* greycolor part */
  /* COME BACK AND FIGURE THIS OUT */

   /* #color-image {
    position: relative;
    top: 10%;
    left: 5%;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

   #bw-image {
    position: relative;
    top: 10%;
    left: 5%;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 100;
  } */

  /* iend of this code */

  .image-box1 {
    position: relative;
    width: 40%;
    height: 40%;
  }

  .image-box1 img {
    height: 300px;
    width: 300px;
  }

/* COME BACK TO THIS SECTION ABOVE */

